<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User: {{user.name}} {{user.lname}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
        <style> 
        </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6"> <br>
                <h3> {{user.name}} {{user.lname}}'s Quotes </h3>
                <br> <br>
                {% for message in all_messages %}
                <h5>{{message.message_body}}</h5>
                {% endfor %}
            </div>
            <div class="col"> <br>
                <a href="/quotes"> <button type="submit" class="btn btn-outline-success">Back</button> </a>
                <a href="/logout"> <button type="button" class="btn btn-dark">Log off</button> </a>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6"> <br> <br>
                <form action="/users/{{show.id}}/edit" , method="POST">
                    {% csrf_token %}
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>

</html>